<!-- <div>
    <h2>Datos del Cliente</h2>
    <p>Nombres: {{cliente.nombres}}</p>
    <p>Tipo de Cliente: {{cliente.tipoCliente}}</p>
    <p>Contacto: {{cliente.contacto}}</p>
  
    <h3>Cuentas</h3>
    <ul>
      <li *ngFor="let cuenta of cliente.cuentas">
        <a href="#" (click)="verMovimientos(cuenta)">{{cuenta.numero}} - {{cuenta.tipo}}</a>
      </li>
    </ul>
  
    <div *ngIf="movimientos">
      <h4>Movimientos de la cuenta {{cuentaSeleccionada.numero}}</h4>
      <ul>
        <li *ngFor="let movimiento of movimientos">{{movimiento.descripcion}} - {{movimiento.monto}}</li>
      </ul>
    </div>
  </div>
   -->

   <!-- <div class="cliente-info">
    <h2>Datos del Cliente</h2>
    
    <p><strong>Nombres:</strong> {{cliente.nombres}}</p>
    <p><strong>Tipo de Cliente:</strong> {{cliente.tipoCliente}}</p>
    <p><strong>Contacto:</strong> {{cliente.contacto}}</p>
    
    <h3>Cuentas</h3>
    <ul class="cuentas-list">
      <li *ngFor="let cuenta of cliente.cuentas">
        <a href="#" (click)="verMovimientos(cuenta)" class="cuenta-link">{{cuenta.numero}} - {{cuenta.tipo}}</a>
      </li>
    </ul>
    
    <div *ngIf="movimientos">
      <h4>Movimientos de la cuenta {{cuentaSeleccionada.numero}}</h4>
      <ul class="movimientos-list">
        <li *ngFor="let movimiento of movimientos">
          {{movimiento.nrodocumento}} - {{movimiento.descripcion}} - <strong>{{movimiento.monto | currency}}</strong>
        </li>
      </ul>
    </div>
  </div>
   -->


   <div class="cliente-info">
    <h2>Datos del Cliente</h2>
  
    <p><strong>Nombres:</strong> {{cliente.nombres}}</p>
    <p><strong>Tipo de Cliente:</strong> {{cliente.tipoCliente}}</p>
    <p><strong>Contacto:</strong> {{cliente.contacto}}</p>
  
    <h3>Cuentas</h3>
    <ul class="cuentas-list">
      <li *ngFor="let cuenta of cliente.cuentas">
        <a href="#" (click)="verMovimientos(cuenta)" class="cuenta-link">{{cuenta.numero}} - {{cuenta.tipo}}</a>
      </li>
    </ul>
  
    <div *ngIf="movimientos">
      <h4>Movimientos de la cuenta {{cuentaSeleccionada.numero}}</h4>
      <ul class="movimientos-list">
        <li *ngFor="let movimiento of movimientos">
          <input type="checkbox" (change)="toggleSeleccionMovimiento(movimiento)">
          {{movimiento.nrodocumento}} - {{movimiento.descripcion}} - <strong>{{movimiento.monto | currency}}</strong>
        </li>
      </ul>
      
      <!-- Botón de enviar visible solo si hay movimientos seleccionados -->
      <div *ngIf="movimientosSeleccionados.length > 0">
        <button (click)="enviarMovimientos()">Enviar Movimientos Seleccionados</button>
      </div>
    </div>
  </div>
      